<div id="page_wrapper">
	<div id="profile_image">
		<%=image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure </h1>
		<p>Ugh keytar heirloom helvetica sartorial ennui, blue bottle schlitz. Next level brooklyn post-ironic keffiyeh offal quinoa forage, you probably haven't heard of them sustainable ennui freegan crucifix seitan viral. Retro cornhole ugh, everyday carry knausgaard schlitz art party. Squid portland microdosing yr, brunch kinfolk put a bird on it brooklyn jean shorts chartreuse franzen salvia vegan DIY. IPhone pickled single-origin coffee, swag tilde keytar viral fanny pack salvia cold-pressed williamsburg. Bushwick umami mumblecore, seitan kitsch microdosing forage before they sold out banh mi shoreditch venmo selvage vice gochujang keffiyeh. Meditation man braid tumblr keffiyeh retro distillery heirloom, lomo chia shabby chic narwhal leggings.</p>
	</div>
</div>